body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Сохранение светлого фона для тела страницы */
}

/* Стили для боковой панели */
.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #572d2d; /* Белый фон для боковой панели */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для боковой панели */
    border-radius: 8px; /* Скругленные углы для боковой панели */
    padding: 20px;
}

.sidebar h3 {
    font-size: 1.5em;
    color: #626cd6; /* Цвет текста заголовка */
    font-weight: bold;
    margin-bottom: 20px;
}

/* Кнопки боковой панели */
.sidebar .btn-outline-primary {
    background-color: #626cd6; /* Цвет кнопки */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar .btn-outline-primary:hover {
    background-color: #4d57b6; /* Цвет кнопки при наведении */
    color: white;
}

/* Заголовок модального окна для добавления таблицы */
.modal-header {
    background-color: #626cd6;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Стиль для основного содержимого страницы */
main {
    background-color: #ffffff; /* Белый фон */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень */
    padding: 30px;
    margin-top: 20px;
}

/* Кнопка для добавления таблицы */
.btn-add-transaction {
    background-color: #52b35a;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
}

.btn-add-transaction {
    background-color: #198754 !important; /* Зеленый цвет по умолчанию */
    border-color: #146c43 !important; /* Зеленая граница */
    color: white !important; /* Белый цвет текста */
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

/* Стили для состояния наведения */
.btn-add-transaction:hover {
    background-color: #146c43 !important; /* Темно-зеленый цвет при наведении */
    color: white !important; /* Белый текст при наведении */
}

