.custom-image {
    max-width: 500px;
    max-height: 500px;
}

.card-img-top {
    max-width: 600px;
    max-height: 600px;
}

.card {
    max-width: 600px;
    margin: 50px auto 0;
    border: 1px solid #000;
}

.navbar-nav ml-auto {
    margin-left: auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
}

.profile-container {
    max-width: 500px;
    margin: 50px auto 0;
    border: 1px solid #000;
    text-align: center;
}

.profile-avatar {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.button {
    background-color: #4285f4;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-profile-button {
    background-color: mediumblue;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10vh;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.upload-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.card-username {
    background-color: lightgrey;
    color: black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

/* Стиль для кнопки Follow */
.follow-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #0056b3;
}

.unfollow-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.unfollow-button:hover {
    background-color: #c82333;
}


.btn-recommendations {
    background-color: #2e93ff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-recommendations:hover {
    background-color: #007bff;
}


.btn-subscriptions {
    background-color: #dbdbdb;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-subscriptions:hover {
    background-color: #c7c7c7;
}

.center-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-top: 10px;
}

.btn-recommendations, .btn-subscriptions {
    margin: 5px;
}

h2 {
    text-align: center;
}
